<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

	<title>AdminHub</title>
</head>
<body>


	<!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand">
            <i class='bx bxs-book'></i>
            <span class="text">KarNote</span>
        </a>
        <ul class="side-menu top">
            <li class="active">
                <a href="{{ url_for('indexetu') }}">
                    <i class='bx bxs-dashboard' ></i>
                    <span class="text">Accueil</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('cours') }}">
                    <i class='bx bxs-spreadsheet' ></i>
                    <span class="text">Synthèses</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('mes_stats') }}">
                    <i class='bx bxs-doughnut-chart' ></i>
                    <span class="text">Mes Stats</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('inserer_notes') }}">
                    <i class='bx bxs-pencil' ></i>
                    <span class="text">Insérer Notes</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('inserer_cours') }}">
                    <i class='bx bxs-food-menu' ></i>
                    <span class="text">Resumer votre Document </span>
                </a>
            </li>
			<li>
				<a href="{{ url_for('quiz') }}">
					<i class='bx bxs-message-alt-edit' ></i>
					<span class="text">Quiz</span>
				</a>
			</li>
            <li>
                <a href="{{ url_for('probleme') }}">
                    <i class='bx bxs-award' ></i>
                    <span class="text">Problèmes</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('inserer_td') }}">
                    <i class='bx bxs-arrow-from-bottom' ></i>
                    <span class="text">Inserer son TD</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('mes_documents') }}">
                    <i class='bx bxs-book-reader' ></i>
                    <span class="text">Mes Documents </span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('mon_profil') }}">
                    <i class='bx bxs-user' ></i>
                    <span class="text">Mon Profil</span>
                </a>
            </li>
            
        </ul>
        <ul class="side-menu">
            
            <li>
                <a href="#" class="logout">
                    <i class='bx bxs-log-out-circle' ></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' ></i>
			<a href="#" class="nav-link">Categories</a>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="notification">
				<i class='bx bxs-bell' ></i>
				<span class="num">8</span>
			</a>
			<a href="#" class="profile">
				<img src="{{ url_for('static', filename='img/SIMO.jpeg') }}">
			</a>
		</nav>
	
    <!-- NAVBAR -->
        <main>
            {% block content %}{% endblock %}

        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->


    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>

