{% extends "base.html" %}
{% block content %}
<div class="head-title">
    <div class="left">
        <h1>Synthèse</h1>
        <ul class="breadcrumb">
            <li><a href="#">Menu</a></li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li><a class="active" href="#">Synthèse</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <h1>Télécharger votre synthèse</h1>
    <a class="btn download-link" href="{{ file_url }}" target="_blank">Télécharger le PDF traité</a>
</div>


<div>{{ feedback_text | safe }}</div>
<div>Score: {{ score }}</div>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}